@import url('https://use.typekit.net/dee0jnt.css');
/* COLORS */
$red: #e44645;
$brown: #6d3235;
$white: #ffffff;
$gray: #a7a7a7;
/* FONTS */
$font-primary: 'refrigerator-deluxe', sans-serif;
$font-secondary: 'Times New Roman', Times, serif;
$font-arabic: 'sheershak-arabic', sans-serif;
/* FONTS WEIGHTS (PRIMARY FONT) */
$font-weight-extra-bold: 800;
$font-weight-heavy: 900;
/* PADDING */
$header-padding: 1rem;
$inner-section-padding: 3.5rem;
$outer-section-padding: 5rem;
$paragraph-indent: 2rem;
/* TRANSITION */
$opacity-transition: opacity 0.4s cubic-bezier(.08,.72,.34,.99);
$color-transition: color 0.4s cubic-bezier(.08,.72,.34,.99);
$width-transition: width 0.4s cubic-bezier(.08,.72,.34,.99);
$height-transition: height 0.4s cubic-bezier(.08,.72,.34,.99);
$right-transition: right 0.4s cubic-bezier(.08,.72,.34,.99);
$clip-transition: clip-path 0.4s cubic-bezier(.08,.72,.34,.99);
/* DIMENSIONS */
$graphic-max-width: 600px;
$section-max-width: 800px;
$banner-height-desktop: 250px;
$banner-height-mobile: 200px;
$banner-height-scrolled: 150px;
/* BREAKPOINTS */
$mobile-breakpoint: 768px;

@mixin clipped-top {
	clip-path: inset(100% 0 0 0);
	transition: $clip-transition;
}

@mixin clipped-bottom {
	clip-path: inset(0 0 100% 0);
	transition: $clip-transition;
}

@mixin clipped-center {
	clip-path: inset(50% 0 50% 0);
	transition: $clip-transition;
}

@mixin unclipped {
	clip-path: inset(0 0 0 0);
	transition: $clip-transition;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
	width: 100%;
	overflow-x: hidden;
}

html {
    font-size: 16px;

	@media (max-width: $mobile-breakpoint) {
		font-size: 12px;
	}
}

body {
    background: $white;
}

.red {
    color: $red;

    li {
        color: $red;
    }
}

.white {
    color: $white;

    li {
        color: $white;
    }
}

.gray {
    color: $gray;

    li {
        color: $gray;
    }
}

.arabic {
	font-family: $font-arabic;
	font-size: 1rem;
    line-height: 1rem;
}

h2 {
    font-family: $font-primary;
    font-weight: $font-weight-heavy;
    text-transform: uppercase;
    font-size: 7rem;
    line-height: 5.5rem;
    color: $white;
}

h3 {
    font-family: $font-primary;
    font-weight: $font-weight-heavy;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 2rem;
    color: $white;
}

h4 {
    font-family: $font-primary;
    font-weight: $font-weight-heavy;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.7rem;
}

a {
	text-decoration: none;
    cursor: pointer;
    opacity: 1;
    transition: $opacity-transition;

    &:hover {
        opacity: 0.8;
    }
}

ul {
    font-family: $font-primary;
    font-weight: $font-weight-extra-bold;
    list-style-type: none;

    &.content-list li {
        font-size: 1.2rem;
        line-height: 1.2rem;
        text-transform: none;
        list-style-type: "- ";

		@media (max-width: $mobile-breakpoint) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
    }

    &.nav-list li {
        font-size: 1rem;
        line-height: 1rem;
        text-transform: uppercase;

        a {
            transition: $opacity-transition, $color-transition;

            &:hover, &.selected {
                opacity: 1;
                color: $red;
            }
        }
    }

    &.footer-list {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
}

p {
    font-family: $font-secondary;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $brown;
    text-indent: $paragraph-indent;
	text-align: justify;
}

img {
    pointer-events: none;
    user-select: none;
}

.intro {
	background: $red;
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	@include unclipped();
	transition-delay: 0.4s;

	img {
		width: 500px;
		@include clipped-center;

		@media (max-width: $mobile-breakpoint) {
			width: 300px;
		}
	}

	&.animation-one {
		img {
			@include unclipped;
		}
	}

	&.animation-two {
		@include clipped-bottom;
		transition-delay: 0.4s;

		img {
			@include clipped-center;
		}
	}
}

.hero {
    position: fixed;
    width: 100vw;
    height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;

    .header {
		background: $white;
		position: relative;
		width: 100%;
        display: flex;
        justify-content: center;
        padding: $header-padding 0;
		z-index: 1;

        .logo {
            h1 {
                position: absolute;
                text-indent: -9999px;
            }  

            img {
                width: 150px;
				transition: $width-transition;
            }
        }

        .nav-list {
            position: absolute;
            height: 100%;
            top: 0;
            right: $header-padding;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: right;
        }
    }

    .graphic {
        position: relative;
        width: 100%;
        display: flex;
		flex-direction: column;
        justify-content: end;

        img {
			position: absolute;
            width: 95%;
            max-width: $graphic-max-width;
			bottom: 100%;
			right: 50%;
			transform: translateX(50%);
			transition: $right-transition, $width-transition;
        }

		.banner {
			background: $red;
			position: relative;
			width: 100%;
			height: $banner-height-desktop;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			transition: $height-transition;
	
			@media (max-width: $mobile-breakpoint) {
				height: $banner-height-mobile;
			}
			
			.banner-slide {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
		
				h2, h3 {
					@include clipped-center();
					text-wrap: nowrap;
				}

				&.homepage-slide {
					h3 {
						&:first-child {
							text-align: left;
						}
						&:last-child {
							text-align: right;
						}
					}
				}

				&.selected {
					h2, h3 {
						@include unclipped();
					}
				}
			}
		}
    }

	&.scrolled {
		.header {
			.logo img {
				width: 100px;
			}
		}

		.graphic {
			img {
				right: -5%;
				width: 40%;
			}

			.banner {
				height: $banner-height-scrolled;
			}
		}
	}
}

.dummy-element {
	position: relative;
	height: 100vh;
	margin-top: -$banner-height-desktop;
	z-index: -1;
	
	@media (max-width: $mobile-breakpoint) {
		margin-top: -$banner-height-mobile;
	}
}

.border {
	background: $brown;
	height: 1px;
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.section {
	padding: $outer-section-padding 0;

    .section-content {
        width: 90%;
        max-width: $section-max-width;
        margin: auto;

		.activities-container {
			display: flex;
			flex-wrap: wrap;
	
			.activity {
				width: 50%;
				margin-bottom: $inner-section-padding;

				&:nth-last-child(-n+2) {
					margin-bottom: 0;
				}

				@media (max-width: $mobile-breakpoint) {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;

					&:nth-last-child(-n+2) {
						margin-bottom: $inner-section-padding;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
    }
}

.footer {
	background: $red;
	padding: $inner-section-padding 0;
	text-align: center;

	a {
		color: $white;
	}

	>h4 {
		padding-top: $inner-section-padding;
	}

	.registrations {
		display: flex;
		justify-content: center;

		ul {
			text-align: left;

			&:first-child {
				padding-right: $inner-section-padding;
			}
		}
	}
}